In [1]:
# Create table If Not Exists Person (Id int, Email varchar(255))
# Truncate table Person
# insert into Person (id, email) values ('1', 'john@example.com')
# insert into Person (id, email) values ('2', 'bob@example.com')
# insert into Person (id, email) values ('3', 'john@example.com')

In [2]:
# Table: Person

# +-------------+---------+
# | Column Name | Type    |
# +-------------+---------+
# | id          | int     |
# | email       | varchar |
# +-------------+---------+
# id is the primary key column for this table.
# Each row of this table contains an email. The emails will not contain uppercase letters.
 

# Write an SQL query to delete all the duplicate emails, keeping only one unique email with the smallest id. Note that you are supposed to write a DELETE statement and not a SELECT one.

# After running your script, the answer shown is the Person table. The driver will first compile and run your piece of code and then show the Person table. The final order of the Person table does not matter.

# The query result format is in the following example.

 

# Example 1:

# Input: 
# Person table:
# +----+------------------+
# | id | email            |
# +----+------------------+
# | 1  | john@example.com |
# | 2  | bob@example.com  |
# | 3  | john@example.com |
# +----+------------------+
# Output: 
# +----+------------------+
# | id | email            |
# +----+------------------+
# | 1  | john@example.com |
# | 2  | bob@example.com  |
# +----+------------------+
# Explanation: john@example.com is repeated two times. We keep the row with the smallest Id = 1.
# Accepted
# 350.7K
# Submissions
# 582.2K
# Acceptance Rate
# 60.2%

In [ ]:
# Please write a DELETE statement and DO NOT write a SELECT statement.
# Write your MySQL query statement below
# WITH delete_cte as(
# SELECT id
# FROM(
# SELECT
#     id,
#     email,
#     row_number() OVER(PARTITION BY email order by id) as "row_num"
# FROM Person)t1
# WHERE
# 	t1.row_num <> 1
# )
# DELETE
# FROM Person
# WHERE
#     id in (select * FROM delete_cte)