In [1]:
# Table: Employee

# +-------------+---------+
# | Column Name | Type    |
# +-------------+---------+
# | id          | int     |
# | name        | varchar |
# | salary      | int     |
# | managerId   | int     |
# +-------------+---------+
# id is the primary key column for this table.
# Each row of this table indicates the ID of an employee, their name, salary, and the ID of their manager.
 

# Write an SQL query to find the employees who earn more than their managers.

# Return the result table in any order.

# The query result format is in the following example.

 

# Example 1:

# Input: 
# Employee table:
# +----+-------+--------+-----------+
# | id | name  | salary | managerId |
# +----+-------+--------+-----------+
# | 1  | Joe   | 70000  | 3         |
# | 2  | Henry | 80000  | 4         |
# | 3  | Sam   | 60000  | Null      |
# | 4  | Max   | 90000  | Null      |
# +----+-------+--------+-----------+
# Output: 
# +----------+
# | Employee |
# +----------+
# | Joe      |
# +----------+
# Explanation: Joe is the only employee who earns more than his manager.

In [ ]:
# SELECT Employee
# FROM(
# SELECT 
#     e.id as "employee_id",
#     e.name as "Employee",
#     e.salary as "employee_salary",
#     m.salary as "manager_salary"
# FROM Employee e
# LEFT JOIN Employee m
# on m.id = e.managerId
# ) d
# where
#     employee_salary > manager_salary